services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "8000:8000"
    volumes:
      - ../data:/data
      - ${EMBEDDER_MODEL}:/app/models/embedder
      - ${RERANK_MODEL}:/app/models/reranker
    environment:
      - SECRET_KEY=${SECRET_KEY}
      - CHAT_MODEL=${CHAT_MODEL}
      - CHAT_MODEL_URL=${CHAT_MODEL_URL}
      - MODEL_API_KEY=${MODEL_API_KEY}
      - EMBEDDER_MODEL=/app/models/embedder
      - RERANK_MODEL=/app/models/reranker
    networks:
      - app-network

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "80:80"
    environment:
      - BACKEND_API_URL=http://backend:8000/api/
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
